# start-dev = playground defaults. start = production mode.
KEYCLOAK_START_COMMAND=start-dev

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# Required/important for production mode.
KC_HOSTNAME_STRICT=false

POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak

# request = ask for client cert, but allow no cert. required = hard mTLS.
KC_HTTPS_CLIENT_AUTH=request
KC_HTTPS_TRUST_STORE_PASSWORD=changeit
